<section class="card">
  <div class="card-header">
      <h3 class="card-title">{{title}} <span>Posted by {{user.username}} on {{format_date createdAt}}</span></h3>    
  </div>
  <p class="content">{{content}}</p>
</section>