<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="page-header">
            <h1>The Tech Bolg</h1>
            <nav>
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li class="home"><a href="/">Home</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        {{#if isLoggedIn}}
                            <a href="/">logout</a>                       
                        {{else}}
                            <li><a href="/login">Login</a></li>
                        {{/if}}                  
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
</body>
</html>