{{!-- {{#if techblogs.length > 0}} 
    {{#each techblogs as |techblog|}}
    <section class="card">
        <div class="card-header">
            <h3 class="card-title">{{techblog.title}} <span>Posted on {{format_date createdAt}}</span></h3>    
        </div>
        <p class="content">{{content}}</p>
    </section>
    {{/each}} 
{{/if}} --}}


<div class="postBtn">
    <a href="/dashboard/new">
    <button type="button" class="btn btn-primary">New Post</button>
    </a>
</div>

