:root {
  --symphony: #C1C8E4;
  --light-blue: #84CEEB;
  --dark-blue: #5680E9;
  --purple: #8860d0;
}

* {
  background-color: var(--symphony);
}

.page-header {
  color: #fff;
  text-align: center;
  height: 200px;
  border: var(--purple);
  margin: 0;
  padding-top: 10px;
  background-color: var(--symphony);
}

.page-header h1 {
  font-size: 2.5em;
  margin: 0;
  float: left;
  margin-left: 20px;
  color: var(--dark-blue);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: var(--purple) solid 5px;
  border-radius: 20px;
  /* border shaow */
  box-shadow: 0 0 5px 5px var(--purple);
}

.home {
  color: #fff;
  font-size: large;
}



